@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

.left-div {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.right-div {
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .left-div {
    width: 320px;
    position: relative;
  }
  .right-div {
    width: calc(100% - 368px);
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-zinc-950 bg-opacity-10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-950 bg-opacity-20;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-950 bg-opacity-25;
}

.shadow {
  box-shadow: rgba(251, 146, 60, 0.5) -4px 9px 25px -6px;
}

.cell-path {
  @apply !bg-green-400 border-green-400 border-solid;
}

.cell-visited {
  animation-name: animVisited;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes animVisited {
  0% {
    transform: scale(0.3);
    @apply bg-orange-600;
  }
  50% {
    background-color: rgba(111, 111, 111, 0.75);
    @apply bg-orange-500;
  }
  75% {
    transform: scale(1.2);
    @apply bg-orange-400;
  }
  100% {
    transform: scale(1);
    @apply bg-orange-500;
  }
}

.wall-animate {
  animation-name: animScale;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes animScale {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
